*.o
.*.swp
.*.swo
*.o.*
.*.o.cmd
*.cmd
*.so*
*.ko
*.ko*
*.mod.c
*.mk
modules.builtin
modules.order
tags
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/x86/boot/compressed/vmlinux.bin
arch/x86/boot/compressed/vmlinux.bin.gz
arch/x86/boot/vmlinux.bin
arch/x86/include/generated/
arch/x86/kernel/asm-offsets.s
arch/x86/lib/lib.a
arch/x86/realmode/rm/realmode.bin
arch/x86/realmode/rm/realmode.elf
certs/signing_key.pem
certs/signing_key.x509
certs/x509.genkey
drivers/.tmp_versions/
drivers/acpi/.tmp_versions/
drivers/acpi/Module.symvers
drivers/firmware/efi/libstub/lib.a
drivers/usb/host/.tmp_versions/
drivers/usb/host/Module.symvers
drivers/usb/host/build.sh
fs/aufs/conf.str
fs/aufs/conf.str.tmp
get_acpi_handle_linux.diff
include/config/
include/generated/
kernel/bounds.s
lib/lib.a
scripts/mod/devicetable-offsets.s
security/apparmor/net_names.h
tools/objtool/libsubcmd.a
usb.diff
usr/.initramfs_data.cpio.d
vmlinux
vmlinux-gdb.py
.15157.d
.config.old
.missing-syscalls.d
